* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
section {
    display: flex;
  }

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #5e7a5e;
    color: white;
    padding: 1rem;
    text-align: center;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
 
}
nav ul li a {
 color: #f8e9e9;
 text-decoration: none;
 text-transform: uppercase;
 padding: 20px;


}

main {
    display: flex;
    flex: 1;
    padding: 20px;
}

article {
    flex: 2;
    margin-right: 20px;
}

aside {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
}
li a {

    color: #2b2828;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
   


}

footer {
    
    text-align: center;
    padding: 50px;
    background-color: #333;
    color: white;
   
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 35px;
}

aside {
    flex: 1;
    min-width: 250px;
    background-color: rgb(235, 235, 235);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

aside h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

aside ul {
    list-style: none;
}

aside ul li {
    margin-bottom: 8px;
}

aside ul li a {
    color: #333;
    text-decoration: none;
}

aside ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    article {
        margin-right: 0;
        margin-bottom: 20px;
    }
}